
.footer{
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
}

.frh{ /*form row height*/
   height: 100px;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.page-center{
  position: absolute;
  top: 25%;
}

.page-bottom{
  width: 100%;
  margin-top: 100vh;
}

@media (min-width: 768px) {
  .frh {
    height: 65px;
  }
}

